test/xsd-negative/cyclic_extension.xsd

<?xml version="1.0"?>
<!-- Mutually-recursive complexType derivation: A extends B, B extends A.
     Must raise CyclicTypeDefinition, not overflow the stack. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="A"><xs:complexContent>
    <xs:extension base="B"><xs:sequence/></xs:extension>
  </xs:complexContent></xs:complexType>
  <xs:complexType name="B"><xs:complexContent>
    <xs:extension base="A"><xs:sequence/></xs:extension>
  </xs:complexContent></xs:complexType>
  <xs:element name="root" type="A"/>
</xs:schema>
