test/xsd-positive/bug_dup_struct_names.xsd

<?xml version="1.0"?>
<!-- #11: two elements named "id" of different types live in different scopes
     (alpha/id is a string, beta/id an int). They previously collapsed into a
     single struct named after the shared local name; now they disambiguate
     (id / id1) so each scope keeps its own type. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="record">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="alpha">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="beta">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:int"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
