test/xsd-positive/bug_attribute_group.xsd

<?xml version="1.0"?>
<!-- robustness #stress: a top-level attributeGroup definition referenced from
     a complexType (the top-level-attributeGroup parent check). -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:attributeGroup name="commonAttrs">
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="lang" type="xs:string"/>
  </xs:attributeGroup>
  <xs:element name="widget">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="label" type="xs:string"/>
      </xs:sequence>
      <xs:attributeGroup ref="commonAttrs"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
