test/xsd-positive/bug_identity_constraints.xsd

<?xml version="1.0"?>
<!-- robustness #stress: key/keyref/unique + selector/field are ignored and
     must not crash the parser. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="item" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="sku" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="uniqueSku">
      <xs:selector xpath="item"/>
      <xs:field xpath="sku"/>
    </xs:unique>
  </xs:element>
</xs:schema>
