test/xsd-positive/shared_base_extension.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Base">
    <xs:sequence><xs:element name="doc" type="xs:string" minOccurs="0"/></xs:sequence>
  </xs:complexType>
  <xs:complexType name="Inner">
    <xs:complexContent><xs:extension base="Base"/></xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Outer">
    <xs:complexContent><xs:extension base="Base">
      <xs:sequence><xs:element name="inner" type="Inner"/></xs:sequence>
    </xs:extension></xs:complexContent>
  </xs:complexType>
  <xs:element name="root" type="Outer"/>
</xs:schema>
