test/xsd-recursive/cyclic_type.xsd

<?xml version="1.0"?>
<!-- Mutually-recursive element type references: A contains B, B contains A. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="A"><xs:sequence>
    <xs:element name="b" type="B"/>
  </xs:sequence></xs:complexType>
  <xs:complexType name="B"><xs:sequence>
    <xs:element name="a" type="A"/>
  </xs:sequence></xs:complexType>
  <xs:element name="root" type="A"/>
</xs:schema>
